body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.hidden {
	display: none;
}

#other-university-help {
	color: green;
}

#lookup-fail {
	color: red;
}

#student-id {
	width: 6em;
}

#fund-amount {
	width: 3em;
}
